/* TABLE OF CONTENTS 

1. CSS Style Resets
2. Base Styling (Fonts, typography, etc. that may be used throughout entire project
3. Grid Structure

*/


/* 1. CSS Style Resets */

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* 2. Base Styling Used */

.hidden {
    display: none;
}

/* 3. Grid Structure */

.grid-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 5px;
    width: 412px;
    margin: 0px auto;

    @media (min-width: 768px) {
        grid-template-columns: repeat(8, 1fr);
        width: 768px;
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(12, 1fr);
        width: 1200px;
    }
}

.col-span-1 { grid-column: span 1 / span 1; }
.col-span-2 { grid-column: span 2 / span 2; }
.col-span-3 { grid-column: span 3 / span 3; }
.col-span-4 { grid-column: span 4 / span 4; }
.col-span-5 { grid-column: span 5 / span 5; }
.col-span-6 { grid-column: span 6 / span 6; }
.col-span-7 { grid-column: span 7 / span 7; }
.col-span-8 { grid-column: span 8 / span 8; }
.col-span-9 { grid-column: span 9 / span 9; }
.col-span-10 { grid-column: span 10 / span 10; }
.col-span-11 { grid-column: span 11 / span 11; }
.col-span-12 { grid-column: span 12 / span 12; }
.col-span-full {grid-column: 1/-1}

.col-start-1 {grid-column-start: 1;}
.col-start-2 {grid-column-start: 2;}
.col-start-3 {grid-column-start: 3;}
.col-start-4 {grid-column-start: 4;}
.col-start-5 {grid-column-start: 5;}
.col-start-6 {grid-column-start: 6;}
.col-start-7 {grid-column-start: 7;}
.col-start-8 {grid-column-start: 8;}
.col-start-9 {grid-column-start: 9;}
.col-start-10 {grid-column-start: 10;}
.col-start-11 {grid-column-start: 11;}
.col-start-12 {grid-column-start: 12;}

.col-end-1 {grid-column-end: 1;}
.col-end-2 {grid-column-end: 2;}
.col-end-3 {grid-column-end: 3;}
.col-end-4 {grid-column-end: 4;}
.col-end-5 {grid-column-end: 5;}
.col-end-6 {grid-column-end: 6;}
.col-end-7 {grid-column-end: 7;}
.col-end-8 {grid-column-end: 8;}
.col-end-9 {grid-column-end: 9;}
.col-end-10 {grid-column-end: 10;}
.col-end-11 {grid-column-end: 11;}
.col-end-12 {grid-column-end: 12;}
.col-end-13 {grid-column-end: 13;}


/*Styling for Responsive Grid*/

@media (min-width: 768px) {
    .md\:col-span-1 { grid-column: span 1;}
    .md\:col-span-2 { grid-column: span 2;}
    .md\:col-span-3 { grid-column: span 3;}
    .md\:col-span-4 { grid-column: span 4;}
    .md\:col-span-5 { grid-column: span 5;} 
    .md\:col-span-6 { grid-column: span 6;}
    .md\:col-span-7 { grid-column: span 7;}
    .md\:col-span-8 { grid-column: span 8;}
    .md\:col-span-9 { grid-column: span 9;}
    .md\:col-span-10 { grid-column: span 10;}
    .md\:col-span-11 { grid-column: span 11;}
    .md\:col-span-12 { grid-column: span 12;}

    .md\:col-start-1 {grid-column-start: 1;}
    .md\:col-start-2 {grid-column-start: 2;}
    .md\:col-start-3 {grid-column-start: 3;}
    .md\:col-start-4 {grid-column-start: 4;}
    .md\:col-start-5 {grid-column-start: 5;}
    .md\:col-start-6 {grid-column-start: 6;}
    .md\:col-start-7 {grid-column-start: 7;}
    .md\:col-start-8 {grid-column-start: 8;}
    .md\:col-start-9 {grid-column-start: 9;}
    .md\:col-start-10 {grid-column-start: 10;}
    .md\:col-start-11 {grid-column-start: 11;}
    .md\:col-start-12 {grid-column-start: 12;}

    .md\:col-end-1 {grid-column-end: 1;}
    .md\:col-end-2 {grid-column-end: 2;}
    .md\:col-end-3 {grid-column-end: 3;}
    .md\:col-end-4 {grid-column-end: 4;}
    .md\:col-end-5 {grid-column-end: 5;}
    .md\:col-end-6 {grid-column-end: 6;}
    .md\:col-end-7 {grid-column-end: 7;}
    .md\:col-end-8 {grid-column-end: 8;}
    .md\:col-end-9 {grid-column-end: 9;}
    .md\:col-end-10 {grid-column-end: 10;}
    .md\:col-end-11 {grid-column-end: 11;}
    .md\:col-end-12 {grid-column-end: 12;}
    .md\:col-end-13 {grid-column-end: 13;}
}

@media (min-width: 1200px) {
    .lg\:col-span-1 { grid-column: span 1;}
    .lg\:col-span-2 { grid-column: span 2;}
    .lg\:col-span-3 { grid-column: span 3;}
    .lg\:col-span-4 { grid-column: span 4;}
    .lg\:col-span-5 { grid-column: span 5;}
    .lg\:col-span-6 { grid-column: span 6;}
    .lg\:col-span-7 { grid-column: span 7;}
    .lg\:col-span-8 { grid-column: span 8;}
    .lg\:col-span-9 { grid-column: span 9;}
    .lg\:col-span-10 { grid-column: span 10;}
    .lg\:col-span-11 { grid-column: span 11;}
    .lg\:col-span-12 { grid-column: span 12;}

    .lg\:col-start-1 {grid-column-start: 1;}
    .lg\:col-start-2 {grid-column-start: 2;}
    .lg\:col-start-3 {grid-column-start: 3;}
    .lg\:col-start-4 {grid-column-start: 4;}
    .lg\:col-start-5 {grid-column-start: 5;}
    .lg\:col-start-6 {grid-column-start: 6;}
    .lg\:col-start-7 {grid-column-start: 7;}
    .lg\:col-start-8 {grid-column-start: 8;}
    .lg\:col-start-9 {grid-column-start: 9;}
    .lg\:col-start-10 {grid-column-start: 10;}
    .lg\:col-start-11 {grid-column-start: 11;}
    .lg\:col-start-12 {grid-column-start: 12;}

    .lg\:col-end-1 {grid-column-end: 1;}
    .lg\:col-end-2 {grid-column-end: 2;}
    .lg\:col-end-3 {grid-column-end: 3;}
    .lg\:col-end-4 {grid-column-end: 4;}
    .lg\:col-end-5 {grid-column-end: 5;}
    .lg\:col-end-6 {grid-column-end: 6;}
    .lg\:col-end-7 {grid-column-end: 7;}
    .lg\:col-end-8 {grid-column-end: 8;}
    .lg\:col-end-9 {grid-column-end: 9;}
    .lg\:col-end-10 {grid-column-end: 10;}
    .lg\:col-end-11 {grid-column-end: 11;}
    .lg\:col-end-12 {grid-column-end: 12;}
    .lg\:col-end-13 {grid-column-end: 13;}
}