/* TABLE OF CONTENTS 

1. General Rules
2. Box Model Reset
3. Mini CSS Reset
4. Utility Classes
5. Mobile Library Grid 
6. Tablet Library Grid
7. Desktop Library Grid
8. Header
9. Drop Zone Styling
10. SVG / Instructment Styling
11. Music Notes

*/


/* ---1. General rules - scales images, videos to size of container--- */
img, embed, object, video, picture {
   max-width: 100%;
 }

 /* ---2. Change the way the box model works, tells the browser to account for any border and padding in the values you specify for an element's width and height.--- */

 html {
   box-sizing: border-box;
 }

 *, *::before, *::after {
   box-sizing: inherit;
 }

/* ---3. Mini CSS reset--- */

body, p, h1, h2, h3, h4, h5 {
   margin: 0px; 
   padding: 0px;
}

main {
   margin-top: 20px;
   margin-bottom: 20px;
}

/* ---4. Utility Classes--- */

.hidden {
   display: none;
}

.box {
   background-color: powderblue;
   color: rgb(27, 27, 27);
   border-radius: 5px;
   padding: 20px;
   text-align: center;
   margin-top: 10px;
   margin-bottom:10px;
 }

.center-grid-con {
   margin: 0 auto;
}

/* ---5. Mobile Library Grid Styles--- */

.grid-con { 
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
   grid-column-gap: 30px;
   max-width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
}

/* Add full width grid con for nesting, later */

.col-span-1	{grid-column: span 1;}
.col-span-2	{grid-column: span 2;}
.col-span-3	{grid-column: span 3;}
.col-span-4	{grid-column: span 4;}
.col-span-full {grid-column: 1 / -1;}

.col-start-1	{grid-column-start: 1;}
.col-start-2	{grid-column-start: 2;}
.col-start-3	{grid-column-start: 3;}
.col-start-4	{grid-column-start: 4;}

.col-end-1	{grid-column-end: 1;}
.col-end-2	{grid-column-end: 2;}
.col-end-3	{grid-column-end: 3;}
.col-end-4	{grid-column-end: 4;}
.col-end-5	{grid-column-end: 5;}

/* ---6. Tablet Library Grid Styles--- */

@media screen and (min-width: 768px) { 
    .grid-con { 
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-column-gap: 20px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .m-col-span-1 { grid-column: span 1; }
    .m-col-span-2 { grid-column: span 2; }
    .m-col-span-3 { grid-column: span 3; }
    .m-col-span-4 { grid-column: span 4; }
    .m-col-span-5 { grid-column: span 5; }
    .m-col-span-6 { grid-column: span 6; }
    .m-col-span-7 { grid-column: span 7; }
    .m-col-span-8 { grid-column: span 8; }
    .m-col-span-9 { grid-column: span 9; }
    .m-col-span-10 { grid-column: span 10; }
    .m-col-span-11 { grid-column: span 11; }
    .m-col-span-12 { grid-column: span 12; }
    .m-col-span-full { grid-column: 1 / -1; }

    .m-col-start-1	{grid-column-start: 1;}
    .m-col-start-2	{grid-column-start: 2;}
    .m-col-start-3	{grid-column-start: 3;}
    .m-col-start-4	{grid-column-start: 4;}
    .m-col-start-5	{grid-column-start: 5;}
    .m-col-start-6	{grid-column-start: 6;}
    .m-col-start-7	{grid-column-start: 7;}
    .m-col-start-8	{grid-column-start: 8;}
    .m-col-start-9	{grid-column-start: 9;}
    .m-col-start-10	{grid-column-start: 10;}
    .m-col-start-11	{grid-column-start: 11;}
    .m-col-start-12	{grid-column-start: 12;}
    .m-col-start-13	{grid-column-start: 13;}

    .m-col-end-1	{grid-column-end: 1;}
    .m-col-end-2	{grid-column-end: 2;}
    .m-col-end-3	{grid-column-end: 3;}
    .m-col-end-4	{grid-column-end: 4;}
    .m-col-end-5	{grid-column-end: 5;}
    .m-col-end-6	{grid-column-end: 6;}
    .m-col-end-7	{grid-column-end: 7;}
    .m-col-end-8	{grid-column-end: 8;}
    .m-col-end-9	{grid-column-end: 9;}
    .m-col-end-10	{grid-column-end: 10;}
    .m-col-end-11	{grid-column-end: 11;}
    .m-col-end-12	{grid-column-end: 12;}
    .m-col-end-13	{grid-column-end: 13;}

}


/* ---7. Desktop Library Grid Styles--- */

@media screen and (min-width: 1200px) { 
   .grid-con { 
      grid-column-gap: 30px;
      padding-left: 15px;
      padding-right: 15px;
   }

    .l-col-span-1  { grid-column: span 1; }
    .l-col-span-2  { grid-column: span 2; }
    .l-col-span-3  { grid-column: span 3; }
    .l-col-span-4  { grid-column: span 4; }
    .l-col-span-5  { grid-column: span 5; }
    .l-col-span-6  { grid-column: span 6; }
    .l-col-span-7  { grid-column: span 7; }
    .l-col-span-8  { grid-column: span 8; }
    .l-col-span-9  { grid-column: span 9; }
    .l-col-span-10 { grid-column: span 10; }
    .l-col-span-11 { grid-column: span 11; }
    .l-col-span-12 { grid-column: span 12; }
    .l-col-span-full { grid-column: 1 / -1; }

    .l-col-start-1	{grid-column-start: 1;}
    .l-col-start-2	{grid-column-start: 2;}
    .l-col-start-3	{grid-column-start: 3;}
    .l-col-start-4	{grid-column-start: 4;}
    .l-col-start-5	{grid-column-start: 5;}
    .l-col-start-6	{grid-column-start: 6;}
    .l-col-start-7	{grid-column-start: 7;}
    .l-col-start-8	{grid-column-start: 8;}
    .l-col-start-9	{grid-column-start: 9;}
    .l-col-start-10	{grid-column-start: 10;}
    .l-col-start-11	{grid-column-start: 11;}
    .l-col-start-12	{grid-column-start: 12;}
    .l-col-start-13	{grid-column-start: 13;}

    .l-col-end-1	{grid-column-end: 1;}
    .l-col-end-2	{grid-column-end: 2;}
    .l-col-end-3	{grid-column-end: 3;}
    .l-col-end-4	{grid-column-end: 4;}
    .l-col-end-5	{grid-column-end: 5;}
    .l-col-end-6	{grid-column-end: 6;}
    .l-col-end-7	{grid-column-end: 7;}
    .l-col-end-8	{grid-column-end: 8;}
    .l-col-end-9	{grid-column-end: 9;}
    .l-col-end-10	{grid-column-end: 10;}
    .l-col-end-11	{grid-column-end: 11;}
    .l-col-end-12	{grid-column-end: 12;}
    .l-col-end-13	{grid-column-end: 13;}
}

/* ---8. Header --- */
.beige-background {
   background-color: #ebdeb7;
   padding: 20px;
   border: #8A7650 2px solid;
}

/* ---9. Drop Zone Styling --- */

#drop-zone-con {
   margin-top: 25px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.dropZone {
   width: 100px;
   height: 100px;
   background-color: transparent;
   border: 1px dotted black;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ---10. SVG / Instrument Styling --- */

#orchestra-con {
   grid-row: span 4;
}

.orchestra-svg img {
   max-width: 100%;
   height: 200px;
}

#string-con {
   grid-row: span 7;
}

.string-svg img {
   max-width: 100%;
   height: 425px;
}

.piano-svg img {
   max-width: 100%;
   height: 150px;
}

.music-note-con {
   border: 1px solid black;
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.music-note img {
   width: 50px;
   height: 50px;
   margin: 0px 5px;
   background-color: transparent;
   border: 1px dotted black;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ---11. Music Notes */
.music-note-con {
   border: 1px solid #8A7650;
   border-radius: 10px;
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ebdeb7;
}

.music-note img {
   width: 50px;
   height: 50px;
   margin: 10px;
   background-color: #F8F3E1;
   border: 1px dotted #8A7650;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
}

.music-note img:hover {
   background-color: #fff;
   cursor: grab;
}